@model List<HRMS.Models.DEPARTMENT>
@{
    ViewBag.Title = "Department";
    ViewBag.Parent = "Configuration";
}

<div id="main-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item">@ViewBag.Parent</li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <a href="~/Department/AddEditDept?inDeptCode=" data-bs-toggle="modal" data-bs-target="#departmentModalPopUp" class="btn btn-primary float-end">Add Department</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="datatable1">
                                <thead>
                                    <tr>
                                        <th style="width:10%">S. No.</th>
                                        <th style="width:20%">Department Code</th>
                                        <th style="width:60%">Department Name</th>
                                        <th style="width:10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 0;}
                                    @foreach (var dept in Model)
                                    {
                                        <tr>
                                            <td style="width:10%">@(i = i + 1)</td>
                                            <td style="width:20%">@dept.DEPT_CODE</td>
                                            <td style="width:60%">@dept.DEPT_NAME</td>
                                            <td style="width:10%" class="text-center">
                                                <a href="~/Department/AddEditDept?inDeptCode=@dept.DEPT_CODE" data-bs-toggle="modal" data-bs-target="#departmentModalPopUp" class="edit"><i class="bi bi-pencil-square"></i></a>
                                                <a href="~/Department/Delete?inDeptCode=@dept.DEPT_CODE" title="Delete" class="delete"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="departmentModalPopUp" tabindex="-1" aria-labelledby="departmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#loading").hide();
    });
</script>