@model List<HRMS.Models.USER_CREATION>
@{
    ViewBag.Title = "User Creation";
    ViewBag.Parent = "Configuration";
}

<div id="main-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item">@ViewBag.Parent</li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <a href="~/UserCreation/AddEditUser?inUserId=0" data-bs-toggle="modal" data-bs-target="#userModalPopUp" class="btn btn-primary float-end">Add User</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="datatable">
                                <thead>
                                    <tr>
                                        <th style="width:10%">S. No.</th>
                                        <th style="width:25%">Username</th>
                                        <th style="width:25%">Employee</th>
                                        <th style="width:20%">Role</th>
                                        <th style="width:10%">Status</th>
                                        <th style="width:10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 0;}
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td style="width:10%">@(i = i + 1)</td>
                                            <td style="width:25%">@user.USER_NAME</td>
                                            <td style="width:25%">@HRMS.Models.DropDownList.GetEmployeeName(user.USER_EMP_CODE)</td>
                                            <td style="width:20%">@HRMS.Models.DropDownList.GetRoleDesc(user.USER_ROLE_ID)</td>
                                            <td style="width:10%" class="text-center">
                                                @if(user.USER_STATUS == true)
                                                {
                                                    <span class="badge bg-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-danger">In-Active</span>
                                                }
                                            </td>
                                            <td style="width:10%" class="text-center">
                                                <a href="~/UserCreation/AddEditUser?inUserId=@user.USER_ID" data-bs-toggle="modal" data-bs-target="#userModalPopUp" class="edit" title="Edit"><i class="bi bi-pencil-square"></i></a>
                                                <a href="~/UserCreation/Delete?inUserId=@user.USER_ID" title="Delete" class="delete"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="userModalPopUp" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#loading").hide();
    });
</script>
